<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flim</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/home.css')}}">
    <script src="https://kit.fontawesome.com/0cd5359d53.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="nav-bar">
        
        <a href="/flim" class="flim"><i class="fas fa-film" ></i></a>
     
         <a href="/game" class="game"><i class="fas fa-gamepad"></i></a>
     
         <a href="/mods" class="mods"><i class="fab fa-app-store-ios"></i></a>

         <a href="/music" class="music"><i class="fab fa-instagram"></i></a>
     
 </div>
    <div class="danger">
        <p>under development </p>
    </div> 
    <div class="movei-app">
        <img src="lightroom.png" alt="lightroom"  align="left" class="lr-logo logo"> movei app (mod apk) 
        <a href="https://drive.google.com/file/d/1-V4uv6IcFJ1grtXojtKLAZ6w4FuRr07Z/view?usp=drivesdk" class="movie-dl"><i class="fas fa-arrow-circle-down"></i></a>
    </div>
    <div class="netflix">
        <img src="netflix.png" alt="lightroom"  align="left" class="lr-logo logo"> netflix (Mod apk)<br>
        <a href="https://drive.google.com/file/d/1-jY6mfEY7LdQzl3qoZyaO2oytxmizwVe/view?usp=drivesdk" class="netflix-dl"><i class="fas fa-arrow-circle-down"></i></a>
    </div>
    <div class="movei-web">
        Movei website <br>
        <a href="https://soap2day.to/">Best online movei website</a>
        <a href="https://downloadhub.unbl4you.casa/">Download any movei</a>
    </div>
</body>
</html>