<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>games</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/home.css')}}">
    <script src="https://kit.fontawesome.com/0cd5359d53.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="nav-bar">
        
        <a href="/flim" class="flim"><i class="fas fa-film" ></i></a>
     
         <a href="/game" class="game"><i class="fas fa-gamepad"></i></a>
     
         <a href="/mods" class="mods"><i class="fab fa-app-store-ios"></i></a>

         <a href="/music" class="music"><i class="fab fa-instagram"></i></a>
     
 </div>
    <div class="danger">
        <p>under development </p>
    </div>
    <div class="minecraft">
        <img src="{{ url_for('static',filename='minecraft.jpeg')}}" alt="lightroom"  align="left" class="lr-logo logo">minecraft mod apk 
        <a href="https://drive.google.com/file/d/1-Tsccfbe_QN7cT3UOUo7xfbBPlJNCduo/view?usp=drivesdk"class="minecraft-dl"><i class="fas fa-arrow-circle-down"></i></a>
    </div>
    <div class="angry">
        <img src="{{ url_for('static',filename='angry.jpeg')}}" alt="lightroom"  align="left" class="lr-logo logo">Angry stick man 5 (mod apk)  
        <a href="https://drive.google.com/file/d/1-bdiFcvFT8fAUTcpm4fSa_Fe3-sH_921/view?usp=drivesdk"class="angry-dl"><i class="fas fa-arrow-circle-down"></i></a>
    </div>
    <div class="traffic-rider">
        <img src="{{ url_for('static',filename='traffic rider.jpeg')}}" alt="img"  align="left" class="lr-logo logo">traffic rider (mod)
        <a href="https://drive.google.com/file/d/1-sqatoyOlyhQQ9_ebGECmyEq2OmqX5Gi/view?usp=drivesdk"class="trafic-dl"><i class="fas fa-arrow-circle-down"></i></a>
    </div>
</body>
</html>
<div class="">
    <img src="" alt="" align="left" class="lr-logo logo">
    <a href=""><i class="fas fa-arrow-circle-down"></i></a>
</div>
