<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mods</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/home.css')}}">
    <script src="https://kit.fontawesome.com/0cd5359d53.js" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <div class="nav-bar">
        
            <a href="/flim" class="flim"><i class="fas fa-film" ></i></a>
         
             <a href="/game" class="game"><i class="fas fa-gamepad"></i></a>
         
             <a href="/mods" class="mods"><i class="fab fa-app-store-ios"></i></a>

             <a href="/music" class="music"><i class="fab fa-instagram"></i></a>
     </div>
    <div class="danger">
        <p>under development </p>
    </div>
    <div class="mods_app">
        <div class="spotify-box">
             <img src="{{ url_for('static',filename='spotify.png')}}" alt="Spotify" align="left" class="lr-logo"> spotify (mod apk) <a href="https://drive.google.com/file/d/1-NRWBUTLzL_fTlMeP-r3j_sNYO9iI-AF/view?usp=drivesdk" class="spotify-dl"><i class="fas fa-arrow-circle-down"></i></a>
        </div>
        <div class="lightroom">
            <img src="{{ url_for('static',filename='lightroom.png')}}" alt="lightroom"  align="left" class="lr-logo"><a target="_blank" class="lr-txt">LightRoom (mod apk)</a> 
            <a href="https://drive.google.com/file/d/1-g7x3-9J9NSfAwOsa20_-hSm4myCsSUj/view?usp=drivesdk" class="lr-dl logo"><i class="fas fa-arrow-circle-down"></i></a>
        </div>
        <div class="movei-ap">
            <img src="{{ url_for('static',filename='lightroom.png')}}" alt="lightroom"  align="left" class="lr-logo logo"> movie app (mod apk) 
            <a href="https://drive.google.com/file/d/1-V4uv6IcFJ1grtXojtKLAZ6w4FuRr07Z/view?usp=drivesdk" class="movie-dl"><i class="fas fa-arrow-circle-down"></i></a>
        </div>
        <div class="netflix">
            <img src="{{ url_for('static',filename='netflix.png')}}" alt="lightroom"  align="left" class="lr-logo logo"> netflix (Mod apk)<br>
            <a href="https://drive.google.com/file/d/1-jY6mfEY7LdQzl3qoZyaO2oytxmizwVe/view?usp=drivesdk" class="netflix-dl"><i class="fas fa-arrow-circle-down"></i></a>
        </div>
        <div class="minecraf">
            <img src="{{ url_for('static',filename='minecraft.jpeg')}}" alt="lightroom"  align="left" class="lr-logo logo">minecraft mod apk 
            <a href="https://drive.google.com/file/d/1-Tsccfbe_QN7cT3UOUo7xfbBPlJNCduo/view?usp=drivesdk"class="minecraft-dl"><i class="fas fa-arrow-circle-down"></i></a>
        </div>
        <div class="angry">
            <img src="{{ url_for('static',filename='angry.jpeg')}}" alt="lightroom"  align="left" class="lr-logo logo">Angry stick man 5 (mod apk)  
            <a href="https://drive.google.com/file/d/1-bdiFcvFT8fAUTcpm4fSa_Fe3-sH_921/view?usp=drivesdk"class="angry-dl"><i class="fas fa-arrow-circle-down"></i></a>
        </div>
        <div class="traffic-rider">
            <img src="{{ url_for('static',filename='traffic rider.jpeg')}}" alt="img"  align="left" class="lr-logo logo">traffic rider (mod)
            <a href="https://drive.google.com/file/d/1-sqatoyOlyhQQ9_ebGECmyEq2OmqX5Gi/view?usp=drivesdk"class="trafic-dl"><i class="fas fa-arrow-circle-down"></i></a>
        </div>
        <div class="traffic-rider">
            <img src="{{ url_for('static',filename='')}}" alt="img"  align="left" class="lr-logo logo">traffic rider (mod)
            <a href="https://drive.google.com/file/d/14oyDgekaJE0wTZvIp-NXkRw45Iaqj6W6/view?usp=drivesdk"class="trafic-dl"><i class="fas fa-arrow-circle-down"></i></a>
        </div>
    </div>
</div>
</body>
</html>
