<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>not in use</title>
    <link rel="stylesheet" type="text/css" href="home.css">
    <script src="https://kit.fontawesome.com/0cd5359d53.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="nav-bar">
        
        <a href="/flim" class="flim"><i class="fas fa-film" ></i></a>
     
         <a href="/game" class="game"><i class="fas fa-gamepad"></i></a>
     
         <a href="/mods" class="mods"><i class="fab fa-app-store-ios"></i></a>

         <a href="/music" class="music"><i class="fab fa-instagram"></i></a>
     
 </div >
 <div class="offline">
     This page is offline
    <br>
    <br>
    <br> 
 </div>
 <div class="not_fm">
 <form action="/done"  method="POST">
    <label for="txt" class="con-us"> Content us </label><br>
     
     <input type="text" name="sn" placeholder="Name" required class="inpu_name"> <br>
     <input type="text" name="sm" placeholder="Enter your msg here" required class="inpu_msg">
     <button type="submit" class="sub-btn">send</button>
 </form>
</div>
</html>